p {
  padding-bottom: 10px;
  font-weight: bold;
}

li {
  margin-left: 15px;
}

ul {
  margin-top: 15px;
}

table, th, td {
  border: 1px solid black;
  margin-left: 25px;
  margin-top: 25px;
}

tr {
  text-align: center;
  border: 1px solid black;
}




