table, th, td {
  border: 1px solid black;
  margin-top: 25px;
  width: 50px;
  text-align: center;
}

th {
  background-color: salmon;
}

.salmon {
  width: 100px;
  margin-left: 50px;
}

h1 {
  display: inline;
}

header {
  margin-top: 25px;
}

.creator {
  text-align: center;
  font-weight: bold;
}

li {
  text-align: left;
}